<app-header></app-header>
<router-outlet></router-outlet>


<!-- Hero Section -->
<section class="bg-gradient-to-r from-purple-100 to-purple-800 relative py-20">
    <!-- Background Image -->
    
    <div class="max-w-screen-xl mx-auto px-4 lg:px-6 relative z-10">
        <div class="flex flex-col items-center justify-center text-center">
            <h1 class="text-4xl lg:text-6xl text-white font-bold mb-6">Learn Angular</h1>
            <p class="text-lg lg:text-xl text-white mb-8">Become an Angular expert with our comprehensive resources and tutorials.</p>
            <div class="flex flex-wrap justify-around mt-8">
            </div>         
        </div>
        <router-outlet></router-outlet>
    </div>
</section>

<!-- Footer -->
<footer class="bg-black py-8">
    <div class="max-w-screen-xl mx-auto px-4 lg:px-6">
        <p class="text-white text-center">&copy; 2024 Learn Angular. All rights reserved.</p>
    </div>
</footer>
