<!-- <app-day-3></app-day-3> -->
<!-- <app-toast></app-toast> -->
<app-header class="scroll-smooth focus:scroll-auto"></app-header>
<!-- <router-outlet></router-outlet> -->


<section
  class="bg-gradient-to-r from-blue-400 to-blue-800 relative py-20 scroll-smooth focus:scroll-auto"
>
  <div class="max-w-screen-xl mx-auto px-4 lg:px-6 relative z-10">
    <div class="flex flex-col items-center justify-center text-center">
      <h1 class="text-4xl lg:text-6xl text-white font-bold mb-6">
        Learn Angular
      </h1>
      <p class="text-lg lg:text-xl text-white mb-6">
        Become an Angular pro with our comprehensive resources and tutorials.
      </p>
      <!-- <div class="flex flex-wrap justify-around mt-8">
            
            </div>          -->
    </div>
    <router-outlet class="scroll-smooth focus:scroll-auto"></router-outlet>
  </div>
</section>
<button
  class="fixed bottom-4 right-4 bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded shadow-md z-10"
  (click)="scrollToTop()"
>
  ⌃
</button>
<app-footer></app-footer>
