<div
  class="relative max-w-[19rem] whitespace-normal break-words rounded-lg border border-blue-gray-50 bg-black p-4 font-sans text-sm font-normal text-blue-gray-500 shadow-lg shadow-blue-gray-500/10 focus:outline-none"
  data-aos="flip-up"
  [routerLink]="link"
>
  <div class="flex items-center gap-6"
  >
    <a
      [routerLink]="link"
      class="block font-sans text-base font-medium leading-relaxed tracking-normal text-blue-gray-900 antialiased transition-colors hover:text-pink-500 text-white"
    >
      {{ title }}
    </a>
    <div
   
      class="center relative inline-block select-none whitespace-nowrap rounded-full bg-blue-500 py-1 px-2 align-baseline font-sans text-xs font-medium capitalize leading-none tracking-wide text-white"
    >
      <div class="mt-px">{{ tag }}</div>
    </div>
  </div>
  <p
    class="block font-sans text-sm font-normal leading-normal text-white antialiased"
  >
    {{ description }}
  </p>
  <div class="text-end text-white"></div>
</div>
