<div class="flex  flex-wrap justify-around mt-[8%] gap-6">
    <!-- <app-home-card title="Learn Angular From Docs" tag="Official" description="Angular Official Documentation"  ></app-home-card> -->
    <app-home-card title="Angular Begineer Questions" tag="Top-30" description="Interview Questions for Freshers" [link]="'/question'"></app-home-card>
    <app-home-card title="Angular Advanced Questions" tag="Advanced " description="Interview Questions for Experienced" [link]="'/questionadv'"></app-home-card>
    <app-home-card title="30 Days of Angular Coding" tag="Practice" description="Practice by coding snippets" [link]="'/home'"></app-home-card>
    <app-home-card title="Project Ideas to Master" tag="50+ Projects" description="Learn Angular by Projects" [link]="'/projects'"></app-home-card>
    <app-home-card title="Learn from Angular Cheat Sheets" tag="Git" description="Angular Cheat Sheet Download" [link]="'/download'"></app-home-card>
</div>
