<div class="flex  flex-wrap justify-around mt-[12%]">
    <!-- <app-home-card title="Learn Angular From Docs" tag="Official" description="Angular Official Documentation" [href]="'/'" ></app-home-card> -->
    <app-home-card title="Angular Begineer Questions" tag="Top-30" description="Interview Questions for Freshers" [link]="'/question'"></app-home-card>
    <app-home-card title="Angular Advanced Questions" tag="Advanced " description="Interview Questions for Experienced" [link]="'/questionadv'"></app-home-card>
    <app-home-card title="30 Days of Angular Coding" tag="Practice" description="Practice by coding snippets" [link]="'/home'"></app-home-card>
    <app-home-card title="Cheat Sheet of Angular" tag="Git" description="" [link]="'/download'"></app-home-card>
</div>
