<div class="flex justify-center mt-[12%] mb-24">
  <div >
    <div class="mb-2 flex items-center gap-6">
      <button class="block px-4 py-2 font-medium leading-relaxed tracking-normal text-white antialiased transition-colors bg-black border border-blue-gray-500 rounded-lg hover:bg-blue-gray-800 focus:outline-none focus:ring focus:ring-blue-400">
        <a href="https://angular.io/guide/cheatsheet" class="text-white hover:text-pink-500" target="_blank" rel="noopener noreferrer">
       Angular Offcial Cheat Sheet
        </a>
      </button>
      <button class="block px-4 py-2 font-medium leading-relaxed tracking-normal text-white antialiased transition-colors bg-black border border-blue-gray-500 rounded-lg hover:bg-blue-gray-800 focus:outline-none focus:ring focus:ring-blue-400">
        <a href="https://github.com/saipavansiripuram/Angular-Cheat-Sheet" class="text-white hover:text-pink-500" target="_blank" rel="noopener noreferrer">
          Git Cheat Sheet →
        </a>
      </button>
      <button class="block px-4 py-2 font-medium leading-relaxed tracking-normal text-white antialiased transition-colors bg-black border border-blue-gray-500 rounded-lg hover:bg-blue-gray-800 focus:outline-none focus:ring focus:ring-blue-400">
        <a href="../../../assets/README.pdf" download="Angular_Cheat_Sheet.pdf" class="text-white hover:text-pink-500" target="_blank" rel="noopener noreferrer">
          Download ↓
        </a>
      </button>
    </div>
  </div>
</div>
